.tabs {
    // .tabs__navigation
    &__navigation {
        display: flex;
        margin: 0px -5px;
    }
    // .tabs__title
    &__title {
        flex: 0 1 50%;
        padding: 0px 5px;
        width: 100%;
        span {
            display: block;
            text-align: left;
            width: 100%;
            font-weight: 600;
            font-size: 20px;
            line-height: 84%;
            letter-spacing: -0.03em;
            color: $darkblue;
            border-bottom: 2px solid rgba(0, 0, 0, 0.15);
            padding: 0px 0px 15px 0px;
            transition:
                color 0.3s ease 0s,
                border-bottom 0.3s ease 0s;
        }
        &._tab-active {
            span {
                color: $blue;
                border-bottom: 2px solid $blue;
            }
        }
        &:hover {
            span {
                color: $blue;
                border-bottom: 2px solid $blue;
            }
        }
    }
    // .tabs__content
    &__content {
    }
    // .tabs__body
    &__body {
    }
    // .tabs__filter
    &__filter {
    }
    // .tabs__product-card
    &__product-card {
    }
}

//Фильтр
.filter-tabs {
    padding: 15px 0px;
    @media (max-width: $mobile) {
        padding: 20px 0px 15px 0px;
    }
    // .filter-tabs__button-mob
    &__button-mob {
        display: none;
        @media (max-width: $mobile) {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $blue;
            font-weight: 600;
            font-size: 11px;
            line-height: 89%;
            letter-spacing: -0.03em;
            text-align: left;
            color: $white;
            padding: 3.5px 3px 3.5px 15px;
            border: 0px solid rgba(255, 255, 255, 0.1);
            border-radius: 5px;
            min-height: 32px;
            transition: background-color 0.3s ease 0s;
            &:hover {
                background-color: $darkblue;
                .filter-tabs__icon {
                    span,
                    &::before,
                    &::after {
                        content: "";
                        background-color: $darkblue;
                    }
                }
            }
        }
    }
    // .filter-tabs__icons
    &__icons {
        border-radius: 3px;
        background: $white;
        border: 0px solid rgba(255, 255, 255, 0.1);
        width: 25px;
        height: 25px;
        margin: 0px 0px 0px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    // .filter-tabs__icon
    &__icon {
        position: relative;
        width: 12px;
        height: 7px;
        span,
        &::before,
        &::after {
            content: "";
            transition: background-color 0.3s ease 0s;
            left: 50%;
            transform: translate(-50%, 0px);
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $blue;
        }
        &::before {
            top: 0;
        }
        &::after {
            width: 4px;
            bottom: 0;
        }
        span {
            top: calc(50% - 0.7px);
            width: 8px;
        }
    }
    // .filter-tabs__content
    &__content {
        display: flex;
        justify-content: space-between;
        @media (max-width: $mobile) {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            z-index: 150;
            background: $white;
            flex-direction: column;
            justify-content: start;
            padding: 15px 15px 24px 15px;
            transition: left 0.3s ease 0s;
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
            &.open {
                left: 0;
            }
        }
    }
    // .filter-tabs__top
    &__top {
        display: none;
        @media (max-width: $mobile) {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }
    // .filter-tabs__close
    &__close {
        cursor: pointer;
        background-color: $red;
        border-radius: 5px;
        padding: 7px;
        width: 28px;
        height: 28px;
        margin: 0px 0px 26px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s ease 0s;
        &:hover {
            background-color: #9c0007;
        }
    }
    // .filter-tabs__title
    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 91%;
        letter-spacing: -0.03em;
        color: $darkblue;
        margin: 0px 0px 15px 0px;
        width: 100%;
        text-align: left;
    }
    // .filter-tabs__body
    &__body {
        flex: 1 1 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        margin: -8px;
        @media (max-width: $mobile) {
            flex-direction: column;
            margin: -5px 0px;
            height: 100%;
            width: 100%;
        }
    }
    // .filter-tabs__column
    &__column {
        display: flex;
        align-items: start;
        padding: 8px;
        @media (max-width: $mobile) {
            padding: 5px 0px;
            width: 100%;
        }
    }
    // .filter-tabs__select
    &__select {
    }
    // .filter-tabs__checkboxes
    &__checkboxes {
        display: flex;
        flex-wrap: wrap;
        margin: -2px;
        @media (max-width: $mobile) {
            width: 100%;
            margin: -1px;
        }
    }
    // .filter-tabs__checkbox
    &__checkbox {
    }
    // .filter-tabs__rating
    &__rating {
    }
    // .filter-tabs__sorting
    &__sorting {
        flex: 0 1 auto;
        @media (max-width: $mobile) {
            margin: 5px 0px 0px 0px;
        }
    }
    // .filter-tabs__buttons
    &__buttons {
        flex: 0 0 111px;
        margin: 0px 0px 0px 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @media (max-width: $mobile) {
            flex: 1 1 auto;
            align-items: center;
            margin: 30px 0px 0px 0px;
        }
    }
    // .filter-tabs__button
    &__button {
        width: 100%;
        padding: 10px 13px;
        @media (max-width: $mobile) {
            svg {
                display: none;
            }
        }
    }
    // .filter-tabs__button-text-desc
    &__button-text-desc {
        @media (max-width: $mobile) {
            display: none;
        }
    }
    // .filter-tabs__button-text-mob
    &__button-text-mob {
        display: none;
        @media (max-width: $mobile) {
            display: flex;
        }
    }
    // .filter-tabs__clear
    &__clear {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 11px 0px;
        margin: 17px 0px 0px 0px;
        transition: color 0.3s ease 0s;
        font-weight: 600;
        font-size: 11px;
        line-height: 89%;
        letter-spacing: -0.03em;
        text-align: center;
        color: $darkblue;
        svg {
            margin: 0px 9px 0px 0px;
        }
        span {
            display: none;
            @media (max-width: $mobile) {
                display: flex;
                margin: 0px 0px 0px 5px;
            }
        }
        &:hover {
            color: $red;
        }
        @media (max-width: $mobile) {
            margin: 10px 0px 0px 0px;
            color: $red;
        }
    }
}
//Ползунок
.rating-filter-tabs {
    width: 308px;
    @media (max-width: $mobile) {
        width: 100%;
    }
    // .rating-filter-tabs__values
    &__values {
        background: #f0f0f0;
        display: flex;
        justify-content: space-between;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
    }
    // .rating-filter-tabs__value
    &__value {
        flex: 1 1 50%;
    }
    // .rating-filter-tabs__input
    &__input {
        display: flex;
        align-items: center;
        .price-end {
            text-align: right;
        }
        input {
            width: 100%;
            padding: 5px 10px;
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: -0.01em;
            background: transparent;
        }
    }
    // .rating-filter-tabs__range
    &__range {
    }
}
//Сортировка
.sorting-filter-tabs {
    // .sorting-filter-tabs__content
    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @media (max-width: $mobileSmall) {
            flex-direction: column;
            align-items: start;
        }
    }
    // .sorting-filter-tabs__title
    &__title {
        padding: 5px 0px;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.01em;
        margin: 0px 10px 0px 0px;
        @media (max-width: $mobileSmall) {
            margin: 0px 0px 10px 0px;
        }
    }
    // .sorting-filter-tabs__options
    &__options {
    }
}

//Карточка
.product-card-tabs {
    padding: 45px 0px 0px 0px;
    // .product-card-tabs__content
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    // .product-card-tabs__body
    &__body {
        width: calc(100% + 16px);
        display: flex;
        flex-wrap: wrap;
        margin: -10px -8px;
        @media (max-width: $mobileSmall) {
            margin: -15px 0px;
        }
    }
    // .product-card-tabs__column
    &__column {
        flex: 0 1 33.3333%;
        width: 33.3333%;
        padding: 10px 8px;
        &._active {
            .product-card-tabs__top {
                height: 131px;
                img {
                    height: 131px;
                }
            }
        }
        @media (max-width: $tablet) {
            flex: 0 1 50%;
            width: 50%;
        }
        @media (max-width: $mobileSmall) {
            width: 100%;
            flex: 1 1 auto;
            padding: 15px 0px;
        }
    }
    // .product-card-tabs__item
    &__item {
    }
    // .product-card-tabs__top
    &__top {
        background: #e2e2e2;
        border-radius: 8px;
        height: 234px;
        position: relative;
        transition: height 0.5s ease 0s;
        &:hover {
            img {
                transform: scale(1.03);
            }
        }
        @media (max-width: $mobile) {
            height: 131px;
        }
    }
    // .product-card-tabs__tag
    &__tag {
        position: absolute;
        top: 10px;
        left: 10px;
        font-weight: 500;
        font-size: 8px;
        line-height: 117%;
        letter-spacing: -0.03em;
        color: $black;
        padding: 4px 6px;
        background: $white;
        border-radius: 3px;
        z-index: 10;
    }
    // .product-card-tabs__slider
    &__slider {
        min-width: 0;
    }
    // .product-card-tabs__wrapper
    &__wrapper {
    }
    // .product-card-tabs__slide
    &__slide {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            transition:
                height 0.5s ease 0s,
                transform 0.8s ease 0s;
            width: auto;
            height: 234px;
            @media (max-width: $mobile) {
                height: 131px;
            }
        }
    }
    // .product-card-tabs__arrow-prev
    &__arrow-prev {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translate(0px, -50%);
        height: 25px;
        width: 25px;
        svg {
            path {
                transition: stroke 0.3s ease 0s;
            }
        }
        &:hover {
            svg {
                * {
                    stroke: $blue;
                }
            }
        }
    }
    // .product-card-tabs__arrow-next
    &__arrow-next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0px, -50%);
        height: 25px;
        width: 25px;
        svg {
            path {
                transition: stroke 0.3s ease 0s;
            }
        }
        &:hover {
            svg {
                * {
                    stroke: $blue;
                }
            }
        }
    }
    // .product-card-tabs__bottom
    &__bottom {
        box-shadow:
            inset 0 2px 0 0 #1b53ff,
            0 3px 4px 0 rgba(0, 0, 0, 0.08);
        background: $white;
        border-radius: 8px;
        margin: 10px 0px 0px 0px;
        padding: 10px;
    }
    // .product-card-tabs__spollers
    &__spollers {
        margin: 0px 0px 18px 0px;
    }
    // .product-card-tabs__buttons
    &__buttons {
        display: flex;
        align-items: center;
    }
    // .product-card-tabs__button
    &__button {
        padding: 11px 21px;
        margin: 0px 5px 0px 0px;
        @media (max-width: $mobile) {
            flex: 1 1 50%;
        }
    }
    // .product-card-tabs__link
    &__link {
        display: flex;
        align-items: center;
        padding: 11px 10px;
        border-radius: 5px;
        font-weight: 600;
        font-size: 11px;
        line-height: 89%;
        letter-spacing: -0.03em;
        color: $blue;
        transition:
            color 0.3s ease 0s,
            background-color 0.3s ease 0s;
        svg {
            margin: 0px 0px 0px 7px;
            path {
                transition: stroke 0.3s ease 0s;
            }
        }
        &:hover {
            color: #0c2776;
            @media (max-width: $mobile) {
                background-color: $black;
                color: $white;
            }
            svg {
                * {
                    stroke: #0c2776;
                    @media (max-width: $mobile) {
                        stroke: $white;
                    }
                }
            }
        }
        @media (max-width: $mobile) {
            flex: 1 1 50%;
            background-color: #f0f0f0;
            justify-content: center;
        }
    }
    // .product-card-tabs__button-all
    &__button-all {
        margin: 20px 0px 0px 0px;
        @media (max-width: $mobile) {
            display: none;
        }
    }
    // .product-card-tabs__button-all-mob
    &__button-all-mob {
        display: none;
        @media (max-width: $mobile) {
            display: flex;
            width: 100%;
            margin: 30px 0px 0px 0px;
        }
    }
    // .product-card-tabs__sun-position
    &__sun-position {
        position: absolute;
        top: 10px;
        right: 10px;
        align-items: center;
        cursor: pointer;
        display: flex;
        height: auto;
        transition:
            opacity 0.3s ease,
            visibility 0.3s ease;
        width: auto;
        z-index: 20;
        img {
            width: 25px;
            height: 25px;
        }
        &._active {
            .switch {
                opacity: 1;
                &::after {
                    content: "";
                    transform: translate3d(23px, -50%, 0);
                }
            }
        }
    }
}
.switch {
    background-color: #292522;
    border-radius: 1.25rem;
    flex-shrink: 0;
    height: 24px;
    margin-left: 10px;
    opacity: 0.3;
    position: relative;
    transition: opacity 0.3s ease;
    width: 46px;
    &::after {
        content: "";
        background-color: #fff;
        border-radius: 50%;
        content: "";
        height: 20px;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translate3d(0.2rem, -50%, 0);
        transition: transform 0.3s ease;
        width: 20px;
    }
}
.options-product-card {
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 10;
    display: none;
    &._active {
        display: flex;
    }
    // .options-product-card__item
    &__item {
    }
    // .options-product-card__input
    &__input {
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
        &:checked + .options-product-card__label:before {
            border: 1px solid #e19e17;
        }
        &:checked + .options-product-card__label:after {
            transform: scale(1);
        }
    }
    // .options-product-card__label
    &__label {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 5px;
        &:before {
            content: "";
            width: 16px;
            height: 16px;
            flex: 0 0 16px;
            border-radius: 50%;
            border: 1px solid #000;
        }
        &:after {
            content: "";
            transition: all 0.3s ease 0s;
            transform: scale(0);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #e19e17;
            position: absolute;
            left: 3.5px;
            top: 3px;
        }
    }
    // .options-product-card__text
    &__text {
        font-size: 12px;
        color: #000;
    }
}
.product-card-tabs {
    // .product-card-tabs__sun-line
    &__sun-line {
        pointer-events: none;
        position: absolute;
        transition: opacity 0.3s ease;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: 22;
        width: 200px;
        height: 200px;
        display: none;
        &._active {
            display: flex;
        }
    }
    // .product-card-tabs__item-sun-line
    &__item-sun-line {
        transition: transform 0.8s ease;
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        .icon-sun-line {
            width: 30px;
            height: 30px;
            left: 50%;
            position: absolute;
            top: 0;
            transform: translate3d(-50%, -42%, 0) rotate(180deg);
            img {
                width: 100%;
                height: 100%;
            }
            &::before {
                content: "";
                border-left: 0.1rem dashed rgba(255, 192, 70, 0.6);
                bottom: 50%;
                content: "";
                height: 40px;
                left: 50%;
                position: absolute;
                transform-origin: bottom left;
                width: 1px;
                z-index: -1;
                transform: rotate(45deg);
            }
            &::after {
                content: "";
                border-left: 0.1rem dashed rgba(255, 192, 70, 0.6);
                bottom: 50%;
                content: "";
                height: 40px;
                left: 50%;
                position: absolute;
                transform-origin: bottom left;
                width: 1px;
                z-index: -1;
                transform: rotate(-45deg);
            }
        }
    }
}
.caption {
    align-items: center;
    background: #fff;
    border: 1px solid rgba(255, 192, 70, 0.7);
    border-radius: 8px;
    display: flex;
    font-size: 10px;
    justify-content: center;
    left: 50%;
    top: 0;
    transform: translate3d(-50%, -38%, 0);
    padding: 3px 10px;
    width: 50px;
}
.position-line {
    background: url("../img/icons/sun-line.svg") no-repeat 50% / contain;
    height: 100%;
    width: 100%;
}
